<div class="card">
  <div class="card-header">Sorting Parade State</div>
  <div class="card-body">
    <div class="form-group">
      <div class="form-group d-flex flex-row justify-content-center">
        <!-- d-flex makes i/p side by side - Bootrap4 -->
        <textarea [(ngModel)]='num1' type="number" name="num1" class="form-control" style='max-height: 500px; height: 500px; width: 200px'></textarea>
        &nbsp;&nbsp;&nbsp;
        <pre>
                  <div class="overflow-auto" style="max-height: 450px; width: 200px;">{{result}}</div>
                  </pre>
      </div>
      <div>
        <button class="btn btn-success" (click)='sort()'>Sort</button>&nbsp;&nbsp;&nbsp;
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="AM">
          <label class="form-check-label" for="inlineRadio1">By AM</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="PM">
          <label class="form-check-label" for="inlineRadio2">By PM</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"
            disabled>
          <label class="form-check-label" for="inlineRadio3">By Section</label>
        </div>
        <button class="btn btn-success" ngxClipboard [cbContent]=result>Copy</button>
      </div>
    </div>
  </div>
