<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>FMPortal</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/favicon-16x16.png">
  <link rel="manifest" href="../assets/icons/site.webmanifest">
</head>
<!-- nav -->
<nav style="background-color: #ffffff;" class="navbar navbar-expand-md navbar-light fixed-top">
  <a class="" href="#"><b>FMP</b>ortal</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">
      <li class='nav-item'>
        <a class="nav-link" href="/sort">Sorting</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle disabled" id="id01" ngbDropdownToggle>Admin</a>
        <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
          <a class="dropdown-item disabled" href="#">Ration</a>
          <a class="dropdown-item disabled" href="#">Parade State</a>
          <a class="dropdown-item disabled" href="#">OFF/Leave Application</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<title>FMPortal</title>
<!-- main content container -->

<body style='padding-top: 60px'>
  <!-- <div class="jumbotron"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
</body>

</html>
