<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
  </script>
</head>

<body style="margin-top: -60px; background: #ededed;">
  <div class ='mx-3' style='min-height: 100%; min-height: 100vh; display: flex; align-items: center;'>
    <div class="container mb-5">
      <h3 style="text-align: center;" class="m-5">What would you like to do today?</h3>
      <div class='row pb-1'>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 bg-white rounded">
            <img src="./assets/img/robotics.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='./sort'">
            <p style="color:#385898;font-size:12px">Sorting</p>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 rounded btn-light" disabled>
            <img src="./assets/img/clipboard.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='#'">
            <p style="color:#385898;font-size:12px">Tasking</p>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 btn-light rounded" disabled>
            <img src="./assets/img/base.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='#'">
            <p style="color:#385898;font-size:12px">Duty</p>
          </button>
        </div>
      </div>
      <div class='row'>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 btn-light rounded" disabled>
            <img src="./assets/img/dish.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='#'">
            <p style="color:#385898;font-size:12px">Ration</p>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 btn-light rounded" disabled>
            <img src="./assets/img/beach.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='#'">
            <p style="color:#385898;font-size:12px">OFF/Leave</p>
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn shadow-sm p-2 mb-2 btn-light rounded" disabled>
            <img src="./assets/img/calendar.png"
              style="margin-top:5%;margin-bottom:5%;height:80%;width:80%;min-width:50px;min-height:50px;object-fit:contain"
              onclick="location.href='#'">
            <p style="color:#385898;font-size:12px">Forecasting</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- <footer>
  <div>Icons made by <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer> -->
